{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}

<h1 align="center">Vault</h1>
<ul class="list-group list-group-flush" id="passes">
    {% for Vault in user.passwords %}
    <li class="list-group-item">{{Vault.data}}</li>
    {% endfor %}
</ul>
<form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <div align="center">
        <button type="submit" class="btn btn-primary">Add to vault</button>
    </div>
</form>
{% endblock %}