{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}

<h1 align="center">Vault</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Service</th>
        <th scope="col">Username</th>
        <th scope="col">Password</th>
        <th scope="col"></th>
        <th scope="col">Date added</th>
      </tr>
    </thead>
    <tbody>
    {% for Vault in user.passwords %}
      <tr>
        <th scope="row" id="id">{{Vault.id}}</th>
        <td>{{Vault.service}}</td>
        <td>{{Vault.username}}</td>
        <td>{{Vault.passw[:20]}}</td>
        <td>
            <a href="/modal_passCheck?entryID={{Vault.id}}" class="btn btn-success">Show password</a>    
        </td>
        <td>{{Vault.date}}</td>
        <td>
        <button type="button" class="close" onClick="deleteEntry({{ Vault.id }})">
            <span aria-hidden="true">&times;</span>
        </button>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
<form method="POST">
    <div align="center" padding-top="50px">
       <a href="{{url_for('views.modal_insert')}}" class="btn btn-primary">Add new entry to Vault</a>
    </div>
</form>

<div class="container">
	<h5>Password Generator</h5>
	<div class="result-container">
		<span id="result"></span>
		<button class="btn" id="clipboard">
			<i class="fas fa-clipboard"></i>
		</button>
	</div>
	<div class="settings">
		<div class="setting">
			<label>Password length</label>
			<input type="number" id="length" min='4' max='50' value='20' />
		</div>
		<div class="setting">
			<label>Include uppercase letters</label> 
			<input type="checkbox" id="uppercase" checked />
		</div>
		<div class="setting">
			<label>Include lowercase letters</label> 
			<input type="checkbox" id="lowercase" checked />
		</div>
		<div class="setting">
			<label>Include numbers</label> 
			<input type="checkbox" id="numbers" checked />
		</div>
		<div class="setting">
			<label>Include symbols</label> 
			<input type="checkbox" id="symbols" checked />
		</div>
	</div>
	<button class="btn btn-primary" id="generate">
		Generate password
	</button>
</div>

{% endblock %}
{% block script %}
<script>
    
    //Define variables from generators html elements
    const resultEl = document.getElementById('result');
    const lengthEl = document.getElementById('length');
    const uppercaseEl = document.getElementById('uppercase');
    const lowercaseEl = document.getElementById('lowercase');
    const numbersEl = document.getElementById('numbers');
    const symbolsEl = document.getElementById('symbols');
    const generateEl = document.getElementById('generate');
    const clipboard = document.getElementById('clipboard');

    //user parameter randomizer for password generator
    const randomFunc = {
        lower: getRandomLower,
        upper: getRandomUpper,
        number: getRandomNumber,
        symbol: getRandomSymbol
    }

    //Copy generated password to clipboard
    clipboard.addEventListener('click', () => {
        const textarea = document.createElement('textarea');
        const password = resultEl.innerText;

        if (!password) { return; }

        textarea.value = password;
        document.body.appendChild(textarea);
        textarea.select();
        document.execCommand('copy');
        textarea.remove();
        alert('Password copied to clipboard');
    });

    //password parameter selection
    generate.addEventListener('click', () => {
        const length = +lengthEl.value;
        const hasLower = lowercaseEl.checked;
        const hasUpper = uppercaseEl.checked;
        const hasNumber = numbersEl.checked;
        const hasSymbol = symbolsEl.checked;

        resultEl.innerText = generatePassword(hasLower, hasUpper, hasNumber, hasSymbol, length);
    });

    //Random string generator with all variable user parameters
    function generatePassword(lower, upper, number, symbol, length) {
        let generatedPassword = '';
        const typesCount = lower + upper + number + symbol;
        const typesArr = [{ lower }, { upper }, { number }, { symbol }].filter(item => Object.values(item)[0]);


        // Doesn't have a selected type
        if (typesCount === 0) {
            alert("Please choose at least one password option!!!")
            return '';
        }

        // create a loop
        for (let i = 0; i < length; i += typesCount) {
            typesArr.forEach(type => {
                const funcName = Object.keys(type)[0];
                generatedPassword += randomFunc[funcName]();
            });
        }
        if (generatedPassword != "") {
            document.getElementById('clipboard').style.visibility = "visible";
        } else {
            document.getElementById('clipboard').style.visibility = "hidden";
        }

        const finalPassword = generatedPassword.slice(0, length);

        return finalPassword;
    }

    //utility functions to generate different kind of values for password string
    function getRandomLower() {
        return String.fromCharCode(Math.floor(Math.random() * 26) + 97);
    }

    function getRandomUpper() {
        return String.fromCharCode(Math.floor(Math.random() * 26) + 65);
    }

    function getRandomNumber() {
        return +String.fromCharCode(Math.floor(Math.random() * 10) + 48);
    }

    function getRandomSymbol() {
        const symbols = '!@#$%^&*(){}[]=<>/,.'
        return symbols[Math.floor(Math.random() * symbols.length)];
    }
</script>
{% endblock%}