{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}

<h1 align="center">Vault</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Service</th>
        <th scope="col">Username</th>
        <th scope="col">Password</th>
        <th scope="col">Date added</th>
      </tr>
    </thead>
    <tbody>
    {% for Vault in user.passwords %}
      <tr>
        <th scope="row">{{Vault.id}}</th>
        <td>{{Vault.service}}</td>
        <td>{{Vault.username}}</td>
        <td>************ 
          <button type="button" class="btn btn-secondary" onClick="showPass({{Vault.id}})">Show</button>
          {{Vault.passw}}</td>
        <td>{{Vault.date}}</td>
        <td>
        <button type="button" class="close" onClick="deleteEntry({{ Vault.id }})">
            <span aria-hidden="true">&times;</span>
        </button>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
<form method="POST">
    <textarea 
    name="newEntry" 
    id="newEntry" 
    class="form-control" 
    placeholder="Add service,username and password, separate with comma!"></textarea>
    <div align="center" padding-top="50px">
        <button type="submit" class="btn btn-primary">Add to vault</button>
    </div>
</form>
{% endblock %}