{% extends 'home.html' %}
{% block modal %}
<div class="modal" id="passCheck" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" id="passCheck">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Please confirm Your identity:
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <span id="service"></span>
                        <span id="username"></span>
                    </div>

                    <div class="form-group">
                        <label for="password" class="col-form-label">Password:</label>
                        <input  type="password" 
                                class="form-control" 
                                name="password" 
                                id="password"
                                placeholder="Master password">
                    </div>
                    <div class="secret-container">
                        <span id="secret"></span>
		                <button class="btn btn-secondary" id="clipboard" disbled>Copy</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="{{url_for('views.home')}}" class="btn btn-primary">Close</a>
                    <button type="submit" name="submit" id="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <!-- </form> -->
</div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function () {
        $("#passCheck").modal("show")
        console.log("Service " + service)
        $('#passCheck').on("submit", function (event) {
            event.preventDefault();
            if ($('#password').val() == "") {
                alert("Password must be filled")
            } else {
                const data = new FormData(event.target);
                const passphrase = Object.fromEntries(data.entries());
                $.post({
                    url: "/modal_passCheck",
                    data: JSON.stringify(passphrase),
                    contentType: "application/json",
                    error: function(xhr) {
                        var err = JSON.parse(xhr.responseText);
                        alert(err.message);
                        //console.log('err is: ' + err);
                    },
                    beforeSend: function () {
                        $('#submit').attr('disabled', 'disabled');
                     },
                    success: function (data) {
                        if (data == '0') {
                            $('#passCheck').modal('hide');
                            window.location.href = "/";

                        } else {
                            console.log("something wrong")
                        }
                    }
                });
            }
            
            
        })
    });
</script>
{% endblock %}