{% extends 'home.html' %}
{% block modal %}
<div class="modal" id="passCheck" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" id="passCheck">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Please confirm Your identity:
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="password" class="col-form-label">Password:</label>
                        <input type="password" class="form-control" name="password" id="password"
                            placeholder="Master password">
                    </div>
                    <div class="secret-container">
                        <span id="secret"></span>
                        <button type="button" class="btn btn-secondary" id="clipboard" enabled>Copy</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="{{url_for('views.home')}}" class="btn btn-primary">Close</a>
                    <button type="submit" name="submit" id="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function () {
        $("#passCheck").modal("show")
        $('#passCheck').on("submit", function (event) {
            event.preventDefault();
            if ($('#password').val() == "") {
                alert("Password must be filled")
            } else {
                //get data from url string and user input
                const queryString = window.location.search;
                const urlParams = new URLSearchParams(queryString);
                const entryId = urlParams.get('entryID');
                var data = {
                    entryID: entryId,
                    password: $('#password').val()
                };

                $.post({
                    url: "/modal_passCheck",
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    error: function (xhr) {
                        console.log('err', xhr);
                    },
                    beforeSend: function () {

                    },
                    success: function (data) {
                        if (data == "wrongPass") {
                            alert("Wrong password!!!")
                        } else {
                            //show user decrypted password
                            document.getElementById('secret').innerHTML = data;
                        }

                    }
                });
            }


        });

        const clipboard = document.getElementById('clipboard');
        const resultEl = document.getElementById('secret');

        clipboard.addEventListener('click', () => {
            console.log("click")
            const textarea = document.createElement('textarea');
            const password = resultEl.innerText;

            if (!password) { return; }

            textarea.value = password;
            document.body.appendChild(textarea);
            textarea.select();
            document.execCommand('copy');
            textarea.remove();
            alert('Password copied to clipboard');
        });

    });


</script>
{% endblock %}